.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #1b1919;
}

.nav-links {
    display: flex;
}

.nav-links li {
   padding: 0 1rem;
   text-decoration: none;
}

.nav-links li a {                       /* the a (anchor tag entered her is the equivalent of the Link tag in the Navbar.js file) */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out; 
}

.nav-links li a:hover { 
    color: #f26a2e;                     /*temporary color*/
}

.nav-links li a:active {
    color: #f26a2e;                     /*temporary color*/
}

.name-logo {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Montez', cursive;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: black;                     
    text-decoration: none;
}

.name-logo{
    border: 5px solid white;          /*temporary color*/
    background: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 50%;
}

.name-logo:hover {
    color: white;                       /*temporary color*/
    transition: all 0.3s ease-in-out; 
    background: #000000; 
}

.hambuger-menu {
    cursor: pointer;
    transition: 0.4s;
    display: none; 
    transition: all 0.3s ease-in-out;  
}

.hambuger-menu:hover  { 
    opacity: 0.8;
}


/*----------------------------------------------------------
Responsive Design
-----------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .nav-links {
        align-items: center;
        flex-direction: column;
        justify-content: right;
        position: absolute;
        z-index: 5;
        top: 5rem;
        left: 100%;
        width: 100%;
        height: 100vh;
        text-decoration: none;
        /* background-color: transparent; */
        background-color: black;
        opacity: 0.9;
        transition: all 0.9s ease-in-out;   /*SEE NOTE 1 BELOW*/
    }

    /* refference Navbar.js line 19 */
    .nav-links.active {             /* note that in Navbar.js line 19 (nav-links.active) is replaced with (nav-links active)  */
        left: 0;
        transition: 0.3s;           /* SEE NOTE 1 below */
    }
    
    .name-logo {
        font-size: 1rem;
        font-weight: 700;
        
    }

    .nav-links li {
        padding: 3rem 0;
        text-decoration: none;
    }

    .nav-links li a {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.2rem;
        top: 0;
        
    }

    .hambuger-menu {
        transition: 0.4s;
        display: block; 
    }
    
    .hambuger-menu:hover{ 
        color: #f26a2e;                     /*temporary color*/
    }
}

@media screen and (max-width: 375px) {
    .name-logo {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 320px) {
    .name-logo {
        font-size: 0.5rem;
    }
}

/* NOTE 1: the transition at line 95 ( transition: all 0.9s ease-in-out;) is set to a be quicker
while line 101 is set to be slow. the intention is to archieve two different transitional effects
In general, setting just the transition in line 95 to say  transition: all 0.3s ease-in-out; and
no transition to the line 101, will produce the same effect */